header {
  width: 100%;

  background-color: transparent;
  text-align: center;
  color: #fff;
  font-size: 0.75em;
}

h1 {
  display: block;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 4em;
}
p {
  letter-spacing: 0.1em;
}
